html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


form {
  margin: 20px auto;  /* 위쪽과 아래쪽 마진을 20px, 좌측과 우측 마진을 자동으로 설정하여 가운데 정렬 */
  transform: translateY(-200px); 
  /* margin: 0 auto;  #map 요소를 화면 가운데에 배치 */
  position: absolute;
  left: 90%;
  top: 17%;
  transform: translate(-50%, -50%);
}

/* 팝업 스타일 */
.content {
  position: absolute;
  display: flex;
  font-size: 14px;
  box-shadow: 5px 5px 5px #00000040;
  border-radius: 10px;
  flex-direction: column;
  top: -50vh; /* 상하 위치 조정 */
  left: -100vh; /* 좌우 위치 조정 */
  width: 20vw; /* 좌우 크기 조정 */
  height: 60vh; /* 위아래 크기 조정 */
  background-color: #FFFFFF;
  padding: 5px;
}

.img-box {
  position: relative;
  width: 100%; /* 이미지의 너비를 부모 요소의 100%로 설정 */
  height: 30vh; /* 이미지의 높이를 뷰포트 높이의 50%로 설정 */
  border-radius: 10px;
  background: #f5f5f5 url() no-repeat center;
  background-size: cover;
}

/* 나머지 스타일은 그대로 유지 */

/* https://upload.wikimedia.org/wikipedia/commons/b/b7/Jungangno_Station_%28Daegu%29_20221125_002.jpg */

.btn-close {
    position:absolute;  
    top :10 px ;
    right :10 px ;
    display:block ;
    width :15 px ;  
    height :15 px ;   
    background:url() no-repeat center ;
    background-size: cover;
}

.info-box{
     padding :10 px ;   
}

.tit{
      font-size :16 px ;  
      font-weight:bold ;
 }

.link{
       color:#3D6DCC ;   
       font-size :13 px ;   
       float:right ;    
 }

.new-addr{
        margin-bottom :7 px ;    
        overflow:hidden ;
 }
.old-addr{
         color:#707070 ;

}
/* 팝업 스타일 끝 */


/* 검색창 디자인 */
#searchBox {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.06);
}

#searchButton {
  padding: 10px;
  font-size: 16px;
  background-color: #353535; 
  color: white; 
  border-radius: 10px; 
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(9, 9, 9, 0.5);
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #020202;
}
/* 검색창 디자인 끝 */
